<hr>
<!-- <video src="../../../../assets/water.mp4" autoplay loop></video> -->
<footer>
  <div class="links">
    <ul>
      <li><img src="../../../../assets/git 1.png" alt="github logo"><a  target="_blank" href="https://github.com/Marinkiet/">My Github </a></li>
      <li><img src="../../../../assets/linkedin 1.png" alt="linked in logo"><a  target="_blank" href="https://www.linkedin.com/in/marinkie-thupi-8598331b1">My Linkedin</a></li>
      <li><img src="../../../../assets/git 1.png" alt="github logo"><a  target="_blank" href="https://github.com/Marinkiet/potfolio">Website Code</a></li>
      <li><img src="../../../../assets/figma 1.png" alt="figma logo"><a  target="_blank" href="https://www.figma.com/file/QE3lIEopFF4DM1NJiK7T8c/potfolio?node-id=12%3A3">Website Design </a></li>
    </ul>
  </div>
  <div class="btn">
    <!-- <button> <img src="../../../../assets/DOWNLOAD 1.png" alt=""> Contact Me</button> -->
    <button> <a
      href=""
      (click)="downloadPdf('../../../../assets/THUPI M-RESUME.pdf','Marinke Thupi Resume')"><img src="../../../../assets/DOWNLOAD 1.png" alt=""> Resume
    </a></button>
  </div>
</footer>
<div class="owner">
  Marinkie Thupi@2022
</div>
