<div class="container">
  <div class="project">
    <img src="../../../../assets/dictionary.PNG" alt="">
    <div class="btns">
      <a target="_blank" href="https://github.com/Marinkiet/myEnglishDictinaryApp"><button>Code</button></a>
      <a target="_blank" href="https://marinkiet.github.io/myEnglishDictinaryApp/">      <button>Preview</button>
      </a>
    </div>
  </div>

  <div class="project">
    <img src="../../../../assets/calc.PNG" alt="">
    <div class="btns">
      <button>Code</button>
      <button>Preview</button>
    </div>
  </div>

  <div class="project">
    <img src="../../../../assets/notes.PNG" alt="">
    <div class="btns">
      <button>Code</button>
      <button>Preview</button>
    </div>
  </div>

  <div class="project">
    <img src="../../../../assets/dictionary.PNG" alt="">
    <div class="btns">
      <button>Code</button>
      <button>Preview</button>
    </div>
  </div>

  <div class="project">
    <img src="../../../../assets/dictionary.PNG" alt="">
    <div class="btns">
      <button>Code</button>
      <button>Preview</button>
    </div>
  </div>

  <div class="project">
    <img src="../../../../assets/dictionary.PNG" alt="">
    <div class="btns">
      <button>Code</button>
      <button>Preview</button>
    </div>
  </div>
<video src="../../../../assets/water.mp4" autoplay loop></video>
</div>

