<div class="container">
  <div class="project">
    <img src="../../../../assets/stack.PNG" alt="">
    <div class="btns">
      <a target="_blank" href="https://github.com/Marinkiet/Stack-DataStructure"><button>Code</button></a>
      <a target="_blank" href=" https://marinkiet.github.io/Stack-DataStructure/"><button>Preview</button>
      </a>
    </div>
  </div>

  <div class="project">
    <img src="../../../../assets/calc.PNG" alt="">
    <div class="btns">
      <a target="_blank" href="https://github.com/Marinkiet/Calculator"><button>Code</button></a>
      <a target="_blank" href="https://marinkiet.github.io/Calculator/"><button>Preview</button>
      </a>
    </div>
  </div>

  <div class="project">
    <img src="../../../../assets/notes.PNG" alt="">
    <div class="btns">
      <a target="_blank" href="https://github.com/Marinkiet/Notes-App"><button>Code</button></a>
      <a target="_blank" href="https://marinkiet.github.io/Notes-App/"><button>Preview</button>
      </a>
    </div>
  </div>

  <div class="project">
    <img src="../../../../assets/digicard2.PNG" alt="">
    <div class="btns">
      <a target="_blank" href="https://github.com/Marinkiet/BusinessCard"><button>Code</button></a>
      <a target="_blank" href="https://marinkiet.github.io/BusinessCard/"><button>Preview</button>
      </a>
    </div>
  </div>

  <div class="project">
    <img src="../../../../assets/musicp.PNG" alt="">
    <div class="btns">
      <a target="_blank" href="https://github.com/Marinkiet/Tapmusic"><button>Code</button></a>
      <a target="_blank" href="https://marinkiet.github.io/Tapmusic/"><button>Preview</button>
      </a>
    </div>
  </div>

  <div class="project">
    <img src="../../../../assets/dictionary.PNG" alt="">
    <div class="btns">
      <a target="_blank" href="https://github.com/Marinkiet/myEnglishDictinaryApp"><button>Code</button></a>
      <a target="_blank" href="https://marinkiet.github.io/myEnglishDictinaryApp/"><button>Preview</button>
      </a>
    </div>
  </div>

</div>
<div class="view-more">
  <a target="_blank" href="https://github.com/Marinkiet?tab=repositories"><h2>View more on my github Repository</h2></a>
</div>
