<div class="container">
  <div class="intro">
    <img src="../../../../assets/me.jpeg" alt="">
    <h5><span>Hello!</span> My name is</h5>
    <h1>Marinkie Thupi</h1>
    <p> I am a software Developer from South Africa,
       I enjoy exploring all tech related fields.</p>
       <button>tmarinke12@gmail.com</button>
  </div>

    <div class="map">
      <div class="music">
        <img src="../../../../assets/moji.PNG" alt="">
      </div>
      <div class="music2">
      </div>
    </div>


  <div class="journey">
    <h3>My Learning Journey</h3>
    <div class="school">
      <ul>
        <h4>2018 - 2021: Tshwane University of Technology(Software Development)</h4>
        <h4>2021 - 2022: ICEP Internship</h4>
        <p>Practice Practice Practice!</p>
        <li>Youtube tutorials</li>
        <li>Free Code Camp Courses</li>
        <li>Hacker Rank Challenges</li>
        <li>Scrimba Course</li>
        <li>Discort Progremmer Communities</li>
      </ul>
    </div>
    <div class="tech-stack">
      <img src="../../../../assets/c++ frame.png" alt="">
      <img src="../../../../assets/js frame.png" alt="">
      <img src="../../../../assets/angular frame.png" alt="">
      <img src="../../../../assets/react frame.png" alt="">
      <img src="../../../../assets/html frame.png" alt="">
      <img src="../../../../assets/css frame.png" alt="">
    </div>
  </div>
  <div class="projects">
  </div>
</div>


