
.intro{
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0px;
  width: 550px;
  height: 450px;
  background: rgba(255, 255, 255, 0.918);
  border-radius: 60px;
}
.intro:hover{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
}
.intro img{
  display: flex;
  padding: 20px;
  width: 212.52px;
  object-fit: cover;
  height: 210px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 60px;
}
.intro h5{
  font-weight: 400;
  font-size: 24px;
  color: #262626;
  margin: 0;
}
.intro span{
  padding-left: 20px;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  color: #262626;
}
.intro p{
  width: 400px;
  margin: 0;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 400;

}
.intro h1{
  margin: 0;
  padding-left: 20px;
  font-weight: 700;
  font-size: 50px;
  background: linear-gradient(90deg, #150A94 4.65%, #64CECE 41.28%, rgba(250, 24, 173, 0.79) 58.11%, rgba(226, 26, 122, 0.56) 89.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.intro button{
  margin-left: 25px;
  width: fit-content;
  height: 40px;
  padding: 10px;
  border-radius: 25px;
  background-color: var(--btn-bg-color);
  color: var( --btn-txt-color);
}
.intro button:hover{
  font-style: italic;
}

.music img{
  width: 250px;
  height: 230px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 60px;
  position: absolute;
}
.container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.music,.music2{
  margin:220px 0px;
  width: 225px;
  height: 230px;
  border: 2px solid  rgba(255, 255, 255, 0.918);
  border-radius: 60px;
}
.music2{
  background: rgba(255, 255, 255, 0.918);
  right: 90px;
}
.map{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0px;
  width: 550px;
  height: 200px;
  background: rgba(255, 255, 255, 0.918);
  border-radius: 60px;
}
.projects,.journey{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px;
  width: 550px;
  height: 700px;
  background: rgba(255, 255, 255, 0.918);
  border-radius: 60px;
}

.journey ul{
  list-style: none;
  text-align: center;
}

.journey h4 {
  text-align: left;
}
.tech-stack{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 .tech-stack img {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
  margin: 0;
  width: 70px;
  height: 70px;
}

