<div class="container">
  <div class="intro">
    <img src="../../../../assets/me.jpeg" alt="">
    <h5><span>Hello!</span> My name is</h5>
    <h1>Marinkie Thupi</h1>
    <p> I am a software Developer from South Africa,
       I enjoy exploring all tech related fields.</p>
       <button>tmarinke12@gmail.com</button>
  </div>

  <div class="intro2">
    <div class="map">
    </div>
    <div class="music">
      <img src="../../../../assets/moji.PNG" alt="">
    </div>
    <div class="music2">
    </div>
  </div>

  <div class="journey">
  </div>
  <div class="projects">
  </div>
</div>


