<div class="container">
  <div class="intro">
    <img src="../../../../assets/me.jpeg" alt="">
    <h5><span>Hello!</span> My name is</h5>
    <h1>Marinkie Thupi</h1>
    <p> I am a software Developer from South Africa,
       I enjoy exploring all tech related fields.</p>
       <button>tmarinke12@gmail.com</button>
  </div>
  <div class="right-info">
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3581.537817443753!2d28.291447415028763!3d-26.146608583463447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e951600b3bc7fe5%3A0x735fde5a7de575b1!2sWaterfall%20Park!5e0!3m2!1sen!2sza!4v1660092324635!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <div>
      <div class="items">
        <img src="../../../../assets/moji2.PNG" alt="">

        <div class="coffee container2">

          <div class="coffee-header">
            <div class="coffee-header__buttons coffee-header__button-one"></div>
            <div class="coffee-header__buttons coffee-header__button-two"></div>
            <div class="coffee-header__display"></div>
            <div class="coffee-header__details"></div>
          </div>

          <div class="coffee-medium">
            <div class="coffe-medium__exit"></div>
            <div class="coffee-medium__arm"></div>
            <div class="coffee-medium__liquid"></div>
            <div class="coffee-medium__smoke coffee-medium__smoke-one"></div>
            <div class="coffee-medium__smoke coffee-medium__smoke-two"></div>
            <div class="coffee-medium__smoke coffee-medium__smoke-three"></div>
            <div class="coffee-medium__smoke coffee-medium__smoke-for"></div>
            <div class="coffee-medium__cup"></div>
          </div>
          <div class="coffee-footer"></div>

        </div>
      </div>
    </div>
  </div>

  <div class="journey">
    <h3>My Learning Journey</h3>
    <div class="school">
      <ul>
        <h4>2018 - 2021: Tshwane University of Technology(Software Development)👩🏼‍🎓 <span>Summa Cum Laude!(●'◡'●)</span></h4>
        <h4>2021 - 2022: ICEP Internship</h4>
        <p>Practice Practice Practice!</p>
        <li>Youtube tutorials</li>
        <li>Free Code Camp Courses</li>
        <li>Hacker Rank Challenges</li>
        <li>Scrimba Course</li>
        <li>Discort Programmer Communities</li>
      </ul>
    </div>
    <h3>Tech Stack</h3>
    <div class="tech-stack">
      <img src="../../../../assets/c++ frame.png" alt="">
      <img src="../../../../assets/js frame.png" alt="">
      <img src="../../../../assets/angular frame.png" alt="">
      <img src="../../../../assets/react frame.png" alt="">
      <img src="../../../../assets/html frame.png" alt="">
      <img src="../../../../assets/css frame.png" alt="">
    </div>
  </div>
  <div class="journey">
    <h3>Projects</h3>
    <div class="projects">
      <app-projects></app-projects>
    </div>
  </div>
</div>


